.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.diplome {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.experience {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.experiences {
    margin-top: 30px;
}